<% title "Gallery" %>

<p>
  <strong>Name:</strong>
  <%=h @gallery.name %>
</p>

<p>
  <%= link_to "Edit", edit_gallery_path(@gallery) %> |
  <%= link_to "Destroy", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", galleries_path %>
</p>
